/* ------------Main Container ---------- */

.backGround {
  background-color: #1c1b20 !important;
}

.main {
  position: fixed;
  background-color: #1c1b20 !important;
  flex: 6;
}

/* ------------Nav Links ---------- */

.links {
  text-align: start;
  text-decoration: none;
  padding: 4% 4%;

  font-size: x-large;
  color: aliceblue;
}
.links:hover {
  background-color: #252625;
  border-radius: 50px;
  /* padding: 2% 5%; */
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 8s ease infinite; */
}
a.activeClass {
  font-weight: 600;
  color: #257fd9;
  background-color: #252625;
}

/* ------------Tweet Button ---------- */
.TweetButton {
  background-color: #1d9bf0;
  margin-top: 10%;
  border-radius: 50px;
  font-size: medium;
  color: aliceblue;
  padding: 6% 4%;
  font-weight: 700;
}

.TweetButton:hover {
  background-color: #257fd9;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
